@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@392&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    font-family: 'Comfortaa', cursive;
    overflow-x: hidden;
}
header{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #6a1b9a;
    color: #fff;
    padding: 36px 95px;
}
header .avail-in a{
    font-size: 1.9rem;
    color: #fff;
}
header .avail-in a:hover{
    color: #e7e7e7;
}
.banner{
    width: 100%;
    height: calc(100vh - 104px);
}
.banner .content{
    display: flex;
    flex-direction: column;
    width: 67vw;
    height: 100%;
    background-color: #6a1b9a;
    color: #fff;
    align-items: center;
    justify-content: center;
}
.banner .content .Intro{
    font-size: 3rem;
}

.banner .design{
    position: absolute;
    top: 150px;
    left: 47vw;
    width: 30rem;
    height: 30rem;
    /* background-color: #000; */
}
.banner .design .first{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #ff4343;
    width: 70px;
    height: 70px;
    animation: rad 1s alternate infinite;
    animation-delay:0.8s
}
.banner .design .second{
    position: absolute;
    top: 50%;
    left: 33%;
    background-color: #fff;
    width: 70px;
    height: 70px;
    animation: rad 1s alternate infinite;
    animation-delay:0.7s
}
.banner .design .third{
    top: 33%;
    left: 33%;
    position: absolute;
    background-color: #ffffff;
    width: 70px;
    height: 70px;
    animation: rad 1s alternate infinite;
    animation-delay:0.3s
}
.banner .design .fourth{
    position: absolute;
    top: 33%;
    left: 50%;
    background-color: #ff3131;
    width: 70px;
    height: 70px;
    animation: rad 1s alternate infinite;
    animation-delay: 0.4s
}
.banner .design .fifth{
    position: absolute;
    top: 33%;
    left: 67%;
    background-color: #1daf00;
    width: 70px;
    height: 70px;
    animation: rad 1s alternate infinite;
    animation-delay:0.5s
}
.banner .design .sixth{
    position: absolute;
    top: 50%;
    left: 67%;
    background-color: #2600ff;
    width: 70px;
    height: 70px;
    animation: rad 1s alternate infinite;
    animation-delay:0.9s
}
.banner .design .seventh{
    top: 33%;
    left: 16%;
    position: absolute;
    background-color: #ffffff;
    width: 70px;
    height: 70px;
    animation: rad 1s alternate infinite;
    animation-delay:0.2s
}
.banner .design .eighth{
    position: absolute;
    top: 50%;
    left: 16%;
    background-color: #b7ff31;
    width: 70px;
    height: 70px;
    animation: rad 1s alternate infinite;
    animation-delay:0.6s
}
.banner .design .ninth{
    position: absolute;
    top: 16%;
    left: 50%;
    background-color: rgb(255, 86, 86);
    width: 70px;
    height: 70px;
    animation: rad 1s alternate infinite;
    animation-delay:0.0s
}
.banner .design .tenth{
    position: absolute;
    top: 67%;
    left: 33%;
    background-color: #31d300;
    width: 70px;
    height: 70px;
    animation: rad 1s alternate infinite;
    animation-delay:1.2s
}
.banner .design .eleventh{
    top: 16%;
    left: 67%;
    position: absolute;
    background-color: #2f9aff;
    width: 70px;
    height: 70px;
    animation: rad 1s alternate infinite;
    animation-delay:0.2s
}
.banner .design .twelveth{
    position: absolute;
    top: 67%;
    left: 16%;
    background-color: #fff;
    width: 70px;
    height: 70px;
    animation: rad 1s alternate infinite;
    animation-delay:1.0s
}


@keyframes rad {
    0%{
        border-radius: 0%;
    }
    100%{
        border-radius: 50%;
    }
}
.my-projects{
    display: flex;
    flex-direction: column;
    padding: 70px 100px;
    align-items: center;
    gap: 20px;
}
.my-projects h1{
    margin-bottom: 20px;
    border-bottom: 4px solid #000;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}
.project{
    display: flex;
    flex-direction: row;
    text-align: justify;
    width: 100vw;
    padding: 0 100px;
    gap: 10px;
}
.project-name{
    text-align: center;
}
.project a{
    background-color: #6a1b9a;
    padding: 10px;
    align-self: flex-start;
    color: #fff;
    text-decoration: none;
    transition: .5s;
    border-radius: 10px;
}
.project a:hover{
    background-color: #4c1270;
}
.project .left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.project img{
    width: 500px;
}
@media (max-width:1024px) {
    .banner .content{
        width: 100vw;
    }
    .banner .design{
        display: none;
    }
    .banner .content .Intro{
        font-size: 30px;
    }

}
@media (max-width:960px) {
    .project{
        flex-direction: column;
    }

}
@media (max-width:707px) {
    .project .right{
        display: none;
    }
    .project{
        text-align: center;
    }

}
@media (max-width:443px) {
    .project{
        padding: 40px;
    }

}
section.i-know{
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    width: 100%;
}
section.i-know .container{
    width: 90;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: #4c1270; */
}
section.i-know .container .card{
    position: relative;
    width: 250px;
    height: 300px;
    text-align: center;
    margin: 20px 20px 60px;
    z-index: 10;
    transition: .5s;
}
section.i-know .container .card .box:hover{
    background-color: #8e3ec0;
}
section.i-know .container .card .box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(106, 27, 154);
    box-shadow: 0px 15px 35px rgba(0, 0, 0, .5);
    z-index: 10;
    border-radius: 10px;
    transition: .5s;
}
section.i-know .container .card .percent{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 100;
}
section.i-know .container .card .percent svg{
    position: relative;
    width: 150px;
    height: 150px;
}
section.i-know .container .card .percent svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke: rgba(255, 255, 255, .05);
    transform: translate(5px, 5px);
    stroke-linecap: round;
}
section.i-know .container .card .percent svg circle:nth-child(2){
    stroke: #fff;
    stroke-dasharray: 440px;
    stroke-dashoffset: 440px;
}
section.i-know .container .card:nth-child(1) .percent svg circle:nth-child(2){
    stroke-dashoffset: calc(440px - (440px * 90)/100);
}
section.i-know .container .card:nth-child(2) .percent svg circle:nth-child(2){
    stroke-dashoffset: calc(440px - (440px * 62)/100);
}
section.i-know .container .card:nth-child(3) .percent svg circle:nth-child(2){
    stroke-dashoffset: calc(440px - (440px * 20)/100);
}
section.i-know .container .card .percent .number{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.i-know .container .card .text{
    position: absolute;
    bottom: -70px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 20px;
    background: #6a1b9a;
    font-weight: 700;
    border-radius: 10px;
    z-index: 12;
}
.main-section-skillset{
    text-align: center;
    padding: 90px;
}
.main-section-skillset h1{
    margin-bottom: 20px;
    border-bottom: 4px solid #000;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}